@model IEnumerable<S4T_HaTinh.Models.TD_FileHoSoDinhKem>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.SoBienNhan)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TenFile)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TenHienThi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DuongDan)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GhiChu)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TrangThai)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LoaiFile_ID)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.SoBienNhan)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TenFile)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TenHienThi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DuongDan)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GhiChu)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TrangThai)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LoaiFile_ID)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.FileHoSoDinhKem_ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.FileHoSoDinhKem_ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.FileHoSoDinhKem_ID })
        </td>
    </tr>
}

</table>
