@model S4T_HaTinh.Models.ChangePasswordViewModel
@{
    ViewBag.Title = "THÔNG TIN NGƯỜI DÙNG";
}
<style type="text/css">
    label.labelContent{
        margin-top: 0px;
        width: 180px;
        float:left;
    }
</style>

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h4>ĐỔI MẬT KHẨU</h4>
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="divRow">
        @Html.LabelFor(m => m.OldPassword, new { @class = "labelContent" })
        <div class="divControl">
            @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control" })
        </div>
    </div>
    <div class="divRow">
        @Html.LabelFor(m => m.NewPassword, new { @class = "labelContent" })
        <div class="divControl">
            @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
        </div>
    </div>
    <div class="divRow">
        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "labelContent" })
        <div class="divControl">
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
        </div>
    </div>
    <div class="divRow">
        <label class="divLabel"></label>
        <div class="divControl">
            <input type="submit" value="Lưu" class="k-button k-button-icontext" />
        </div>
    </div>
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}