@model S4T_HaTinh.Models.AspNetRoles

@{
    //var slTrangThai = new SelectList(MvcApplication.ListTrangThai(), "DanhMuc_ID", "TenDanhMuc");
    var slNhomDoiTuong = new SelectList(MvcApplication.ListNhomDoiTuong(), "DanhMuc_ID", "TenDanhMuc");
}

<h2>TẠO MỚI</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="divRow">
            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "divLabel" })
            <div class="divControl">
                @Html.TextBoxFor(model => model.Name, new { @class = "S4T_AutoComplete", @style = "width:250px;" })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="divRow">
            @Html.LabelFor(model => model.TenHienThi, htmlAttributes: new { @class = "divLabel" })
            <div class="divControl">
                @Html.TextBoxFor(model => model.TenHienThi, new { @class = "S4T_AutoComplete", @style = "width:250px;" })
                @Html.ValidationMessageFor(model => model.TenHienThi, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="divRow">
            @Html.LabelFor(model => model.NhomDoiTuong_ID, htmlAttributes: new { @class = "divLabel" })
            <div class="divControl">
                @Html.DropDownListFor(model => model.NhomDoiTuong_ID, slNhomDoiTuong, new { @class = "S4T_DropDownList", @style = "width:200px;" })
                @Html.ValidationMessageFor(model => model.NhomDoiTuong_ID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="divRow">
            <label class="divLabel" id="lbl"></label>
            <div class="divControl">
                <button type="submit" class="k-button k-button-icontext"><span class="k-icon k-i-tick"></span>Lưu</button>
            </div>
        </div>
    </div>
}
