@model IEnumerable<S4T_HaTinh.Models.sp_GetHaTangKyThuatCapHuyen_Result>
@{

}
@* style="table-layout: fixed; width: 100%" *@
<html xmlns:v="urn:schemas-microsoft-com:vml"
      xmlns:o="urn:schemas-microsoft-com:office:office"
      xmlns:x="urn:schemas-microsoft-com:office:excel"
      xmlns="http://www.w3.org/TR/REC-html40">

<head>
    <meta http-equiv=Content-Type content="text/html; charset=windows-1252">
    <meta name=ProgId content=Excel.Sheet>
    <meta name=Generator content="Microsoft Excel 15">
    <link rel=File-List href=filelist.xml>
    <link rel=Stylesheet href=stylesheet.css>
    <![if !supportTabStrip]>
    <script language="JavaScript">
<!--
function fnUpdateTabs()
 {
  if (parent.window.g_iIEVer>=4) {
   if (parent.document.readyState=="complete"
    && parent.frames['frTabs'].document.readyState=="complete")
   parent.fnSetActiveSheet(0);
  else
   window.setTimeout("fnUpdateTabs();",150);
 }
}

    </script>
    <![endif]>
</head>

<body link=blue vlink=purple>

    <table border=0 cellpadding=0 cellspacing=0 width=6036 style='border-collapse:
 collapse;table-layout:fixed;width:4534pt'>
        <col width=34 style='mso-width-source:userset;mso-width-alt:1243;width:26pt'>
        <col width=193 style='mso-width-source:userset;mso-width-alt:7058;width:145pt'>
        <col class=xl65 width=77 style='mso-width-source:userset;mso-width-alt:2816;
 width:58pt'>
        <col width=64 style='width:48pt'>
        <col width=75 style='mso-width-source:userset;mso-width-alt:2742;width:56pt'>
        <col width=64 span=2 style='width:48pt'>
        <col width=72 style='mso-width-source:userset;mso-width-alt:2633;width:54pt'>
        <col width=81 span=2 style='mso-width-source:userset;mso-width-alt:2962;
 width:61pt'>
        <col width=73 style='mso-width-source:userset;mso-width-alt:2669;width:55pt'>
        <col width=74 style='mso-width-source:userset;mso-width-alt:2706;width:56pt'>
        <col width=68 style='mso-width-source:userset;mso-width-alt:2486;width:51pt'>
        <col width=59 style='mso-width-source:userset;mso-width-alt:2157;width:44pt'>
        <col width=64 style='mso-width-source:userset;mso-width-alt:2340;width:48pt'>
        <col width=81 style='mso-width-source:userset;mso-width-alt:2962;width:61pt'>
        <col width=90 style='mso-width-source:userset;mso-width-alt:3291;width:68pt'>
        <col width=83 style='mso-width-source:userset;mso-width-alt:3035;width:62pt'>
        <col width=77 style='mso-width-source:userset;mso-width-alt:2816;width:58pt'>
        <col width=97 style='mso-width-source:userset;mso-width-alt:3547;width:73pt'>
        <col width=98 span=6 style='mso-width-source:userset;mso-width-alt:3584;
 width:74pt'>
        <col width=65 span=2 style='mso-width-source:userset;mso-width-alt:2377;
 width:49pt'>
        <col width=67 span=2 style='mso-width-source:userset;mso-width-alt:2450;
 width:50pt'>
        <col width=103 style='mso-width-source:userset;mso-width-alt:3766;width:77pt'>
        <col width=75 style='mso-width-source:userset;mso-width-alt:2742;width:56pt'>
        <col width=54 style='mso-width-source:userset;mso-width-alt:1974;width:41pt'>
        <col width=63 style='mso-width-source:userset;mso-width-alt:2304;width:47pt'>
        <col width=76 style='mso-width-source:userset;mso-width-alt:2779;width:57pt'>
        <col class=xl66 width=85 style='mso-width-source:userset;mso-width-alt:3108;
 width:64pt'>
        <col class=xl66 width=78 style='mso-width-source:userset;mso-width-alt:2852;
 width:59pt'>
        <col class=xl66 width=71 style='mso-width-source:userset;mso-width-alt:2596;
 width:53pt'>
        <col class=xl66 width=60 style='mso-width-source:userset;mso-width-alt:2194;
 width:45pt'>
        <col class=xl66 width=61 style='mso-width-source:userset;mso-width-alt:2230;
 width:46pt'>
        <col class=xl66 width=71 style='mso-width-source:userset;mso-width-alt:2596;
 width:53pt'>
        <col class=xl66 width=64 span=3 style='width:48pt'>
        <col width=64 span=11 style='width:48pt'>
        <col width=74 style='mso-width-source:userset;mso-width-alt:2706;width:56pt'>
        <col width=64 span=2 style='width:48pt'>
        <col width=67 span=2 style='mso-width-source:userset;mso-width-alt:2450;
 width:50pt'>
        <col width=64 style='width:48pt'>
        <col width=110 style='mso-width-source:userset;mso-width-alt:4022;width:83pt'>
        <col width=64 style='width:48pt'>
        <col width=93 style='mso-width-source:userset;mso-width-alt:3401;width:70pt'>
        <col width=100 style='mso-width-source:userset;mso-width-alt:3657;width:75pt'>
        <col width=64 span=9 style='width:48pt'>
        <col width=131 style='mso-width-source:userset;mso-width-alt:4790;width:98pt'>
        <col width=92 style='mso-width-source:userset;mso-width-alt:3364;width:69pt'>
        <col width=97 style='mso-width-source:userset;mso-width-alt:3547;width:73pt'>
        <col width=75 style='mso-width-source:userset;mso-width-alt:2742;width:56pt'>
        <col width=64 style='width:48pt'>
        <col width=118 style='mso-width-source:userset;mso-width-alt:4315;width:89pt'>
        <tr height=106 valign=bottom style='mso-height-source:userset;height:79.5pt'>
            <td colspan=17 height=106 class=xl243 align=center valign=middle width=1314
                style='height:79.5pt;width:988pt'>
                <font class="font20" face="Times New Roman"
                      size="4">
                    <b>
                        B&#7842;NG T&#7892;NG H&#7906;P S&#7888; LI&#7878;U KÈM THEO BÁO
                        CÁO T&#7920; KI&#7874;M TRA - THÔNG TIN V&#7872; H&#7840; T&#7846;NG K&#7928;
                        THU&#7852;T CNTT<br>
                        (Dành cho UBND các huy&#7879;n, th&#7883; xã, thành ph&#7889;)<span style='mso-spacerun:yes'></span>
                    </b>
                </font>
            </td>
            <td width=83 style='width:62pt'></td>
            <td width=77 style='width:58pt'></td>
            <td width=97 style='width:73pt'></td>
            <td width=98 style='width:74pt'></td>
            <td width=98 style='width:74pt'></td>
            <td width=98 style='width:74pt'></td>
            <td width=98 style='width:74pt'></td>
            <td width=98 style='width:74pt'></td>
            <td width=98 style='width:74pt'></td>
            <td width=65 style='width:49pt'></td>
            <td width=65 style='width:49pt'></td>
            <td width=67 style='width:50pt'></td>
            <td width=67 style='width:50pt'></td>
            <td width=103 style='width:77pt'></td>
            <td width=75 style='width:56pt'></td>
            <td width=54 style='width:41pt'></td>
            <td width=63 style='width:47pt'></td>
            <td width=76 style='width:57pt'></td>
            <td class=xl66 width=85 style='width:64pt'></td>
            <td class=xl66 width=78 style='width:59pt'></td>
            <td class=xl66 width=71 style='width:53pt'></td>
            <td class=xl66 width=60 style='width:45pt'></td>
            <td class=xl66 width=61 style='width:46pt'></td>
            <td class=xl66 width=71 style='width:53pt'></td>
            <td class=xl66 width=64 style='width:48pt'></td>
            <td class=xl66 width=64 style='width:48pt'></td>
            <td class=xl66 width=64 style='width:48pt'></td>
            <td width=64 style='width:48pt'></td>
            <td width=64 style='width:48pt'></td>
            <td width=64 style='width:48pt'></td>
            <td width=64 style='width:48pt'></td>
            <td width=64 style='width:48pt'></td>
            <td width=64 style='width:48pt'></td>
            <td width=64 style='width:48pt'></td>
            <td width=64 style='width:48pt'></td>
            <td width=64 style='width:48pt'></td>
            <td width=64 style='width:48pt'></td>
            <td width=64 style='width:48pt'></td>
            <td width=74 style='width:56pt'></td>
            <td width=64 style='width:48pt'></td>
            <td width=64 style='width:48pt'></td>
            <td width=67 style='width:50pt'></td>
            <td width=67 style='width:50pt'></td>
            <td width=64 style='width:48pt'></td>
            <td width=110 style='width:83pt'></td>
            <td width=64 style='width:48pt'></td>
            <td width=93 style='width:70pt'></td>
            <td width=100 style='width:75pt'></td>
            <td width=64 style='width:48pt'></td>
            <td width=64 style='width:48pt'></td>
            <td width=64 style='width:48pt'></td>
            <td width=64 style='width:48pt'></td>
            <td width=64 style='width:48pt'></td>
            <td width=64 style='width:48pt'></td>
            <td width=64 style='width:48pt'></td>
            <td width=64 style='width:48pt'></td>
            <td width=64 style='width:48pt'></td>
            <td width=131 style='width:98pt'></td>
            <td class=xl91 width=92 style='width:69pt'></td>
            <td width=97 style='width:73pt'></td>
            <td class=xl90 width=75 style='width:56pt'></td>
            <td width=64 style='width:48pt'></td>
            <td width=118 style='width:89pt'></td>
        </tr>
        <tr height=22 valign=bottom style='mso-height-source:userset;height:16.5pt'>
            <td height=22 style='height:16.5pt'></td>
            <td colspan=6 class=xl248 width=537 style='width:403pt'></td>
            <td colspan=28 style='mso-ignore:colspan'></td>
            <td class=xl66 width=85 style='width:64pt'></td>
            <td class=xl66 width=78 style='width:59pt'></td>
            <td class=xl66 width=71 style='width:53pt'></td>
            <td class=xl66 width=60 style='width:45pt'></td>
            <td class=xl66 width=61 style='width:46pt'></td>
            <td class=xl66 width=71 style='width:53pt'></td>
            <td class=xl66 width=64 style='width:48pt'></td>
            <td class=xl66 width=64 style='width:48pt'></td>
            <td class=xl66 width=64 style='width:48pt'></td>
            <td colspan=18 style='mso-ignore:colspan'></td>
            <td colspan=10 class=xl249 bgcolor="#FFC000">
                <font class="font11"
                      face="Times New Roman" size="4" color="#000000">&nbsp;</font>
            </td>
            <td colspan=8 style='mso-ignore:colspan'></td>
        </tr>
        <tr height=61 valign=bottom style='mso-height-source:userset;height:45.75pt'>
            <td rowspan=2 height=201 class=xl203 align=center valign=middle width=34
                style=' border: 1px solid black;height:150.75pt;width:26pt'>
                STT
            </td>
            <td rowspan=2 class=xl203 align=center valign=middle width=193
                style='border: 1px solid black;width:145pt'>
                Tên &#273;&#417;n v&#7883;
            </td>
            <td colspan=4 class=xl250 bgcolor="#8DB4E2" align=center valign=middle
                width=267 style='border-right: 1px solid black;border-left: 1px solid black;width:200pt'>
                <font face="Times New Roman">
                    <b>
                        S&#7889; thuê bao Internet t&#7841;i UBND c&#7845;p
                        huy&#7879;n
                    </b>
                </font>
            </td>
            <td colspan=6 class=xl77 bgcolor="#F79646" align=center valign=middle
                width=449 style='border-left: 1px solid black;width:338pt'>
                <font face="Times New Roman">
                    <b>
                        S&#7889;
                        máy ch&#7911; và máy tính hi&#7879;n &#273;ang s&#7917; d&#7909;ng t&#7841;i
                        UBND c&#7845;p huy&#7879;n
                    </b>
                </font>
            </td>
            <td colspan=6 class=xl253 bgcolor="#4BACC6" align=center valign=middle
                width=454 style='border-right:.5pt solid black;border-left: 1px solid black;width:341pt'>
                <font face="Times New Roman">
                    <b>
                        S&#7889; máy ch&#7911; và máy tính hi&#7879;n
                        &#273;ang s&#7917; d&#7909;ng &#7903; C&#7845;p huy&#7879;n &#7911;y
                    </b>
                </font>
            </td>
            <td colspan=6 class=xl256 bgcolor="#8064A2" align=center valign=middle
                width=587 style='border-right:.5pt solid black;border-left: 1px solid black;width:443pt'>
                <font face="Times New Roman">
                    <b>
                        S&#7889; máy ch&#7911; và máy tính hi&#7879;n
                        &#273;ang s&#7917; d&#7909;ng t&#7841;i UBND C&#7845;p xã
                    </b>
                </font>
            </td>
            <td colspan=6 class=xl259 bgcolor="#9BBB59" align=center valign=middle
                width=465 style='border-right:.5pt solid black;border-left: 1px solid black;width:349pt'>
                <font face="Times New Roman">
                    <b>
                        S&#7889; máy ch&#7911; và máy tính hi&#7879;n
                        &#273;ang s&#7917; d&#7909;ng trong ngành Giáo d&#7909;c
                    </b>
                </font>
            </td>
            <td colspan=6 class=xl262 bgcolor="#C0504D" align=center valign=middle
                style='border-right:.5pt solid black;border-left: 1px solid black'>
                <font face="Times New Roman">
                    <b>
                        S&#7889; máy ch&#7911; và máy tính hi&#7879;n
                        &#273;ang s&#7917; d&#7909;ng trong ngành Y t&#7871;
                    </b>
                </font>
            </td>
            <td colspan=6 class=xl265 bgcolor="#4F81BD" align=center width=391
                style='border-right:.5pt solid black;border-left: 1px solid black;width:293pt'>
                <font face="Times New Roman">
                    <b>
                        S&#7889; máy ch&#7911; và máy tính hi&#7879;n
                        &#273;ang s&#7917; d&#7909;ng t&#7841;i các &#272;&#417;n v&#7883; s&#7921;
                        nghi&#7879;p khác
                    </b>
                </font>
            </td>
            <td colspan=6 class=xl268 bgcolor="#C4BD97" align=center width=384
                style='border-right:.5pt solid black;border-left: 1px solid black;width:288pt'>
                <font face="Times New Roman">
                    <b>
                        S&#7889; máy ch&#7911; và máy tính hi&#7879;n
                        &#273;ang s&#7917; d&#7909;ng t&#7841;i B&#432;u &#273;i&#7879;n VHX
                    </b>
                </font>
            </td>
            <td colspan=6 class=xl271 bgcolor="#FFFF00" align=center valign=middle
                width=384 style='border-right:.5pt solid black;border-left: 1px solid black;width:288pt'>
                <font face="Times New Roman">
                    <b>
                        S&#7889; máy ch&#7911; và máy tính hi&#7879;n
                        &#273;ang s&#7917; d&#7909;ng trong Doanh nghi&#7879;p (không bao g&#7891;m
                        doanh nghi&#7879;p CNTT)
                    </b>
                </font>
            </td>
            <td colspan=6 class=xl274 bgcolor="#92D050" align=center width=400
                style='border-right:.5pt solid black;border-left: 1px solid black;width:300pt'>
                <font face="Times New Roman">
                    <b>
                        S&#7889; máy ch&#7911; và máy tính hi&#7879;n
                        &#273;ang s&#7917; d&#7909;ng t&#7841;i các H&#7897; gia &#273;ình
                    </b>
                </font>
            </td>
            <td colspan=11 class=xl245 align=center valign=middle style='border-right:
  .5pt solid black;border-left: 1px solid black'>
                <font class="font16" face="Times New Roman"
                      size="3">
                    <b>
                        Ph&#432;&#417;ng án &#273;&#7843;m b&#7843;o an toàn cho
                        m&#7841;ng LAN t&#7841;i UBND c&#7845;p huy&#7879;n
                    </b>
                </font>
            </td>
            <td colspan=8 class=xl245 align=center valign=middle style='border-right:
  .5pt solid black;border-left: 1px solid black'>
                <font class="font16" face="Times New Roman"
                      size="3"><b>Các Thông tin khác</b></font>
            </td>
        </tr>
        <tr class=xl73 height=140 valign=middle style='height:105.0pt'>
            <td height=140 class=xl204 bgcolor="#8DB4E2" align=center width=64
                style='height:105.0pt;border: 1px solid black;width:48pt'>
                <font face="Times New Roman">ADSL</font>
            </td>
            <td class=xl205 bgcolor="#8DB4E2" align=center width=75 style='border: 1px solid black;width:56pt'>
                <font face="Times New Roman">LeadedLine</font>
            </td>
            <td class=xl204 bgcolor="#8DB4E2" align=center width=64 style='border: 1px solid black;width:48pt'>
                <font face="Times New Roman">Cáp quang</font>
            </td>
            <td class=xl204 bgcolor="#8DB4E2" align=center width=64 style='border: 1px solid black;width:48pt'>
                <font face="Times New Roman">Khác</font>
            </td>
            <td class=xl77 bgcolor="#F79646" align=center width=72 style='border: 1px solid black;width:54pt'>
                <font face="Times New Roman">
                    <b>
                        Máy tính
                        &#273;&#7875; bàn
                    </b>
                </font>
            </td>
            <td class=xl77 bgcolor="#F79646" align=center width=81 style='border: 1px solid black;width:61pt'>
                <font face="Times New Roman"><b>Laptop</b></font>
            </td>
            <td class=xl77 bgcolor="#F79646" align=center width=81 style='border: 1px solid black;width:61pt'>
                <font face="Times New Roman">
                    <b>
                        Máy
                        ch&#7911;
                    </b>
                </font>
            </td>
            <td class=xl77 bgcolor="#F79646" align=center width=73 style='border: 1px solid black;width:55pt'>
                <font face="Times New Roman">
                    <b>
                        PM virus
                        b&#7843;n quy&#7873;n
                    </b>
                </font>
            </td>
            <td class=xl77 bgcolor="#F79646" align=center width=74 style='border: 1px solid black;width:56pt'>
                <font face="Times New Roman">
                    <b>
                        K&#7871;t
                        n&#7889;i Internet
                    </b>
                </font>
            </td>
            <td class=xl77 bgcolor="#F79646" align=center width=68 style='border: 1px solid black;width:51pt'>
                <font face="Times New Roman">
                    <b>
                        K&#7871;t
                        n&#7889;i m&#7841;ng chuyên dùng
                    </b>
                </font>
            </td>
            <td class=xl83 bgcolor="#4BACC6" align=center width=59 style='border: 1px solid black;width:44pt'>
                <font face="Times New Roman">
                    <b>
                        Máy tính
                        &#273;&#7875; bàn
                    </b>
                </font>
            </td>
            <td class=xl83 bgcolor="#4BACC6" align=center width=64 style='border: 1px solid black;width:48pt'>
                <font face="Times New Roman"><b>Laptop</b></font>
            </td>
            <td class=xl83 bgcolor="#4BACC6" align=center width=81 style='border: 1px solid black;width:61pt'>
                <font face="Times New Roman">
                    <b>
                        Máy
                        ch&#7911;
                    </b>
                </font>
            </td>
            <td class=xl83 bgcolor="#4BACC6" align=center width=90 style='border: 1px solid black;width:68pt'>
                <font face="Times New Roman">
                    <b>
                        PM virus
                        b&#7843;n quy&#7873;n
                    </b>
                </font>
            </td>
            <td class=xl83 bgcolor="#4BACC6" align=center width=83 style='border: 1px solid black;width:62pt'>
                <font face="Times New Roman">
                    <b>
                        K&#7871;t
                        n&#7889;i Internet
                    </b>
                </font>
            </td>
            <td class=xl83 bgcolor="#4BACC6" align=center width=77 style='border: 1px solid black;width:58pt'>
                <font face="Times New Roman">
                    <b>
                        K&#7871;t
                        n&#7889;i m&#7841;ng chuyên dùng
                    </b>
                </font>
            </td>
            <td class=xl84 bgcolor="#8064A2" align=center width=97 style='border: 1px solid black;width:73pt'>
                <font face="Times New Roman">
                    <b>
                        Máy tính
                        &#273;&#7875; bàn
                    </b>
                </font>
            </td>
            <td class=xl85 bgcolor="#8064A2" width=98 style='border: 1px solid black;border-left:
  none;width:74pt'>
                <font face="Times New Roman"><b>Laptop</b></font>
            </td>
            <td class=xl85 bgcolor="#8064A2" width=98 style='border: 1px solid black;border-left:
  none;width:74pt'>
                <font face="Times New Roman"><b>Máy ch&#7911;</b></font>
            </td>
            <td class=xl85 bgcolor="#8064A2" width=98 style='border: 1px solid black;border-left:
  none;width:74pt'>
                <font face="Times New Roman">
                    <b>
                        PM virus b&#7843;n
                        quy&#7873;n
                    </b>
                </font>
            </td>
            <td class=xl85 bgcolor="#8064A2" width=98 style='border: 1px solid black;border-left:
  none;width:74pt'>
                <font face="Times New Roman"><b>K&#7871;t n&#7889;i Internet</b></font>
            </td>
            <td class=xl85 bgcolor="#8064A2" width=98 style='border: 1px solid black;border-left:
  none;width:74pt'>
                <font face="Times New Roman">
                    <b>
                        K&#7871;t n&#7889;i
                        m&#7841;ng Chuyên dùng
                    </b>
                </font>
            </td>
            <td class=xl80 align=center width=98 style='border: 1px solid black;
  width:74pt'>
                <font face="Times New Roman"><b>Máy tính &#273;&#7875; bàn</b></font>
            </td>
            <td class=xl81 width=65 style='border: 1px solid black;width:49pt'>
                <font face="Times New Roman"><b>Laptop</b></font>
            </td>
            <td class=xl81 width=65 style='border: 1px solid black;width:49pt'>
                <font face="Times New Roman"><b>Máy ch&#7911;</b></font>
            </td>
            <td class=xl81 width=67 style='border: 1px solid black;width:50pt'>
                <font face="Times New Roman"><b>PM virus b&#7843;n quy&#7873;n</b></font>
            </td>
            <td class=xl81 width=67 style='border: 1px solid black;width:50pt'>
                <font face="Times New Roman"><b>K&#7871;t n&#7889;i Internet</b></font>
            </td>
            <td class=xl81 width=103 style='border: 1px solid black;width:77pt'>
                <font face="Times New Roman"><b>K&#7871;t n&#7889;i m&#7841;ng CD</b></font>
            </td>
            <td class=xl80 align=center width=75 style='border: 1px solid black;
  width:56pt'>
                <font face="Times New Roman"><b>Máy tính &#273;&#7875; bàn</b></font>
            </td>
            <td class=xl81 width=54 style='border: 1px solid black;width:41pt'>
                <font face="Times New Roman"><b>Laptop</b></font>
            </td>
            <td class=xl81 width=63 style='border: 1px solid black;width:47pt'>
                <font face="Times New Roman"><b>Máy ch&#7911;</b></font>
            </td>
            <td class=xl81 width=76 style='border: 1px solid black;width:57pt'>
                <font face="Times New Roman"><b>PM virus b&#7843;n quy&#7873;n</b></font>
            </td>
            <td class=xl81 width=85 style='border: 1px solid black;width:64pt'>
                <font face="Times New Roman"><b>K&#7871;t n&#7889;i Internet</b></font>
            </td>
            <td class=xl81 width=78 style='border: 1px solid black;width:59pt'>
                <font face="Times New Roman"><b>K&#7871;t n&#7889;i m&#7841;ng Chuyên dùng</b></font>
            </td>
            <td class=xl80 align=center width=71 style='border: 1px solid black;
  width:53pt'>
                <font face="Times New Roman"><b>Máy tính &#273;&#7875; bàn</b></font>
            </td>
            <td class=xl81 width=60 style='border: 1px solid black;width:45pt'>
                <font face="Times New Roman"><b>Laptop</b></font>
            </td>
            <td class=xl81 width=61 style='border: 1px solid black;width:46pt'>
                <font face="Times New Roman"><b>Máy ch&#7911;</b></font>
            </td>
            <td class=xl81 width=71 style='border: 1px solid black;width:53pt'>
                <font face="Times New Roman"><b>PM virus b&#7843;n quy&#7873;n</b></font>
            </td>
            <td class=xl81 width=64 style='border: 1px solid black;width:48pt'>
                <font face="Times New Roman"><b>K&#7871;t n&#7889;i Internet</b></font>
            </td>
            <td class=xl81 width=64 style='border: 1px solid black;width:48pt'>
                <font face="Times New Roman"><b>K&#7871;t n&#7889;i m&#7841;ng chuyên dùng</b></font>
            </td>
            <td class=xl86 bgcolor="#C4BD97" align=center width=64 style='border-top:
  none;border-left: 1px solid black;width:48pt'>
                <font face="Times New Roman">
                    <b>
                        Máy tính
                        &#273;&#7875; bàn
                    </b>
                </font>
            </td>
            <td class=xl87 bgcolor="#C4BD97" width=64 style='border-top: 1px solid black;border-left:
  none;width:48pt'>
                <font face="Times New Roman"><b>Laptop</b></font>
            </td>
            <td class=xl87 bgcolor="#C4BD97" width=64 style='border-top: 1px solid black;border-left:
  none;width:48pt'>
                <font face="Times New Roman"><b>Máy ch&#7911;</b></font>
            </td>
            <td class=xl87 bgcolor="#C4BD97" width=64 style='border-top: 1px solid black;border-left:
  none;width:48pt'>
                <font face="Times New Roman">
                    <b>
                        PM virus b&#7843;n
                        quy&#7873;n
                    </b>
                </font>
            </td>
            <td class=xl87 bgcolor="#C4BD97" width=64 style='border-top: 1px solid black;border-left:
  none;width:48pt'>
                <font face="Times New Roman"><b>K&#7871;t n&#7889;i Internet</b></font>
            </td>
            <td class=xl87 bgcolor="#C4BD97" width=64 style='border-top: 1px solid black;border-left:
  none;width:48pt'>
                <font face="Times New Roman">
                    <b>
                        K&#7871;t n&#7889;i
                        m&#7841;ng CD
                    </b>
                </font>
            </td>
            <td class=xl80 align=center width=64 style='border: 1px solid black;
  width:48pt'>
                <font face="Times New Roman"><b>Máy tính &#273;&#7875; bàn</b></font>
            </td>
            <td class=xl81 width=64 style='border: 1px solid black;width:48pt'>
                <font face="Times New Roman"><b>Laptop</b></font>
            </td>
            <td class=xl81 width=64 style='border: 1px solid black;width:48pt'>
                <font face="Times New Roman"><b>Máy ch&#7911;</b></font>
            </td>
            <td class=xl81 width=64 style='border: 1px solid black;width:48pt'>
                <font face="Times New Roman"><b>PM virus b&#7843;n quy&#7873;n</b></font>
            </td>
            <td class=xl81 width=64 style='border: 1px solid black;width:48pt'>
                <font face="Times New Roman"><b>K&#7871;t n&#7889;i Internet</b></font>
            </td>
            <td class=xl81 width=64 style='border: 1px solid black;width:48pt'>
                <font face="Times New Roman"><b>K&#7871;t n&#7889;i m&#7841;ng chuyên dùng</b></font>
            </td>
            <td class=xl80 align=center width=74 style='border: 1px solid black;
  width:56pt'>
                <font face="Times New Roman"><b>Máy tính &#273;&#7875; bàn</b></font>
            </td>
            <td class=xl81 width=64 style='border: 1px solid black;width:48pt'>
                <font face="Times New Roman"><b>Laptop</b></font>
            </td>
            <td class=xl81 width=64 style='border: 1px solid black;width:48pt'>
                <font face="Times New Roman"><b>Máy ch&#7911;</b></font>
            </td>
            <td class=xl81 width=67 style='border: 1px solid black;width:50pt'>
                <font face="Times New Roman"><b>PM virus b&#7843;n quy&#7873;n</b></font>
            </td>
            <td class=xl81 width=67 style='border: 1px solid black;width:50pt'>
                <font face="Times New Roman"><b>K&#7871;t n&#7889;i Internet</b></font>
            </td>
            <td class=xl81 width=64 style='border: 1px solid black;width:48pt'>
                <font face="Times New Roman"><b>K&#7871;t n&#7889;i m&#7841;ng chuyên dùng</b></font>
            </td>
            <td class=xl82 align=center width=110 style='border-top: 1px solid black;border-left:
  none;width:83pt'>
                <font face="Times New Roman">
                    S&#7889; máy tính không
                    k&#7871;t n&#7889;i Internet vì lý do an ninh
                </font>
            </td>
            <td class=xl88 align=center valign=top width=64 style='border-top: 1px solid black;
  border-left: 1px solid black;width:48pt'>
                <font face="Times New Roman">
                    T&#432;&#7901;ng
                    l&#7917;a<br>
                    <br>
                    <br>
                </font><font class="font17" face="Times New Roman"><i>(có ho&#7863;c không)</i></font>
            </td>
            <td class=xl88 align=center valign=top width=93 style='border-top: 1px solid black;
  border-left: 1px solid black;width:70pt'>
                <font face="Times New Roman">
                    Phát hi&#7879;n và
                    phòng, ch&#7889;ng truy c&#7853;p trái phép <br>
                </font><font class="font17" face="Times New Roman"><i>(có ho&#7863;c không)</i></font>
            </td>
            <td class=xl88 align=center valign=top width=100 style='border-top: 1px solid black;
  border-left: 1px solid black;width:75pt'>
                <font face="Times New Roman">
                    C&#7843;nh báo
                    cháy, n&#7893; t&#7841;i phòng máy ch&#7911;<br>
                    <br>
                </font><font class="font17" face="Times New Roman"><i>(có ho&#7863;c không)</i></font>
            </td>
            <td class=xl88 align=center valign=top width=64 style='border-top: 1px solid black;
  border-left: 1px solid black;width:48pt'>
                <font face="Times New Roman">
                    Ch&#7889;ng sét
                    t&#7841;i phòng máy ch&#7911;<br>
                    <br>
                </font><font class="font17" face="Times New Roman"><i>(có ho&#7863;c không)</i></font>
            </td>
            <td class=xl89 valign=top width=64 style='border: 1px solid black;
  width:48pt'>
                <font face="Times New Roman">
                    B&#259;ng t&#7915;<br>
                    <br>
                    <br>
                    <br>
                </font><font class="font17" face="Times New Roman"><i>(có ho&#7863;c không)</i></font>
            </td>
            <td class=xl89 valign=top width=64 style='border: 1px solid black;
  width:48pt'>
                <font face="Times New Roman">
                    T&#7911; &#273;&#297;a<br>
                    <br>
                    <br>
                    <br>
                </font><font class="font17" face="Times New Roman"><i>(có ho&#7863;c không)</i></font>
            </td>
            <td class=xl89 valign=top width=64 style='border: 1px solid black;
  width:48pt'>
                <font face="Times New Roman">
                    SAN<br>
                    <br>
                    <br>
                    <br>
                </font><font class="font17" face="Times New Roman"><i>(có ho&#7863;c không)</i></font>
            </td>
            <td class=xl89 valign=top width=64 style='border: 1px solid black;
  width:48pt'>
                <font face="Times New Roman">
                    NAS<br>
                    <br>
                    <br>
                    <br>
                </font><font class="font17" face="Times New Roman"><i>(có ho&#7863;c không)</i></font>
            </td>
            <td class=xl89 valign=top width=64 style='border: 1px solid black;
  width:48pt'>
                <font face="Times New Roman">
                    DAS<br>
                    <br>
                    <br>
                    <br>
                </font><font class="font17" face="Times New Roman"><i>(có ho&#7863;c không)</i></font>
            </td>
            <td class=xl89 valign=top width=64 style='border: 1px solid black;
  width:48pt'>
                <font face="Times New Roman">
                    RAID<br>
                    <br>
                    <br>
                    <br>
                </font><font class="font17" face="Times New Roman"><i>(có ho&#7863;c không)</i></font>
            </td>
            <td class=xl82 align=center width=64 style='border: 1px solid black;
  width:48pt'>
                <font face="Times New Roman">
                    S&#7889; &#273;i&#7875;m b&#432;u
                    &#273;i&#7879;n v&#259;n hóa xã
                </font>
            </td>
            <td class=xl82 align=center width=64 style='border: 1px solid black;
  width:48pt'>
                <font face="Times New Roman">
                    S&#7889; &#273;i&#7875;m b&#432;u
                    &#273;i&#7879;n v&#259;n hóa xã có Internet
                </font>
            </td>
            <td class=xl82 align=center width=131 style='border-top: 1px solid black;border-left:
  none;width:98pt'>
                <font face="Times New Roman">
                    S&#7889; &#273;i&#7875;m
                    b&#432;u &#273;i&#7879;n v&#259;n hóa xã có &#273;&#7841;i lý Internet
                </font>
            </td>
            <td class=xl82 align=center width=92 style='border: 1px solid black;
  width:69pt'>
                <font face="Times New Roman">
                    H&#7897;i ngh&#7883; truy&#7873;n
                    hình c&#7845;p huy&#7879;n:<br>
                </font><font class="font17" face="Times New Roman"><i>(có ho&#7863;c không)</i></font>
            </td>
            <td class=xl82 align=center width=97 style='border: 1px solid black;
  width:73pt'>
                <font face="Times New Roman">
                    S&#7889; cu&#7897;c h&#7885;p
                    tr&#7921;c tuy&#7871;n c&#7911;a c&#7845;p huy&#7879;n – t&#7881;nh/ 6 tháng
                    &#273;&#7847;u n&#259;m
                </font>
            </td>
            <td class=xl82 align=center width=75 style='border: 1px solid black;
  width:56pt'>
                <font face="Times New Roman">
                    S&#7889; l&#432;&#7907;ng H&#7897;i
                    ngh&#7883; truy&#7873;n hình c&#7845;p xã
                </font>
            </td>
            <td class=xl82 align=center width=64 style='border: 1px solid black;
  width:48pt'>
                <font face="Times New Roman">
                    S&#7889; cu&#7897;c h&#7885;p
                    tr&#7921;c tuy&#7871;n c&#7845;p xã – huy&#7879;n/6 tháng &#273;&#7847;u
                    n&#259;m
                </font>
            </td>
            <td class=xl82 align=center width=118 style='border-top: 1px solid black;border-left:
  none;width:89pt'>
                <font face="Times New Roman">
                    T&#7893;ng chi ngân sách cho
                    h&#7841; t&#7847;ng k&#7929; thu&#7853;t CNTT
                </font>
            </td>
        </tr>
        @if (Model != null)
        {
            int i = 1;
            foreach (var item in Model)
            {
                <tr height=62 valign=bottom style='mso-height-source:userset;height:46.5pt'>
                    <td height=62 class=xl78 style='height:46.5pt;border: 1px solid black'>
                        <font color="#000000">@i</font>
                    </td>
                    <td class=xl238 style='border: 1px solid black'>
                    <font class="font16"
                          face="Times New Roman" size="3"><b>@Html.DisplayFor(m => item.TenDonVi)</b></font>
                    </td>
                    <td class=xl78 align=right style='border: 1px solid black'>
                        <font color="#000000">@Html.DisplayFor(m => item.ADSL)</font>
                    </td>
                    <td class=xl78 align=right style='border: 1px solid black'>
                        <font color="#000000">@Html.DisplayFor(m => item.LeadedLine)</font>
                    </td>
                    <td class=xl78 align=right style='border: 1px solid black'>
                        <font color="#000000">@Html.DisplayFor(m => item.CapQuang)</font>
                    </td>
                    <td class=xl78 align=right style='border: 1px solid black'>
                        <font color="#000000">@Html.DisplayFor(m => item.Khac)</font>
                    </td>
                    <td class=xl78 align=right style='border: 1px solid black'>
                        <font color="#000000">@Html.DisplayFor(m => item.UBND_MayBan)</font>
                    </td>
                    <td class=xl78 align=right style='border: 1px solid black'> <font color="#000000">@Html.DisplayFor(m => item.UBND_LapTop)</font> </td>
                    <td class=xl78 align=right style='border: 1px solid black'> <font color="#000000">@Html.DisplayFor(m => item.UBND_MayChu)</font> </td>
                    <td class=xl78 align=right style='border: 1px solid black'> <font color="#000000">@Html.DisplayFor(m => item.UBND_VirusBanQuyen)</font> </td>
                    <td class=xl78 align=right style='border: 1px solid black'> <font color="#000000">@Html.DisplayFor(m => item.UBND_Internet)</font> </td>
                    <td class=xl78 align=right style='border: 1px solid black'> <font color="#000000">@Html.DisplayFor(m => item.UBND_MangCD)</font> </td>
                    <td class=xl78 align=right style='border: 1px solid black'> <font color="#000000">@Html.DisplayFor(m => item.HuyenUy_MayBan)</font> </td>
                    <td class=xl78 align=right style='border: 1px solid black'> <font color="#000000">@Html.DisplayFor(m => item.HuyenUy_LapTop)</font> </td>
                    <td class=xl78 align=right style='border: 1px solid black'> <font color="#000000">@Html.DisplayFor(m => item.HuyenUy_MayChu)</font> </td>
                    <td class=xl78 align=right style='border: 1px solid black'> <font color="#000000">@Html.DisplayFor(m => item.HuyenUy_VirusBanQuyen)</font> </td>
                    <td class=xl78 align=right style='border: 1px solid black'> <font color="#000000">@Html.DisplayFor(m => item.HuyenUy_Internet)</font> </td>
                    <td class=xl78 align=right style='border: 1px solid black'> <font color="#000000">@Html.DisplayFor(m => item.HuyenUy_MangCD)</font> </td>
                    <td class=xl78 align=right style='border: 1px solid black'> <font color="#000000">@Html.DisplayFor(m => item.Xa_MayBan)</font> </td>
                    <td class=xl78 align=right style='border: 1px solid black'> <font color="#000000">@Html.DisplayFor(m => item.Xa_LapTop)</font> </td>
                    <td class=xl78 align=right style='border: 1px solid black'> <font color="#000000">@Html.DisplayFor(m => item.Xa_MayChu)</font> </td>
                    <td class=xl78 align=right style='border: 1px solid black'> <font color="#000000">@Html.DisplayFor(m => item.Xa_VirusBanQuyen)</font> </td>
                    <td class=xl78 align=right style='border: 1px solid black'> <font color="#000000">@Html.DisplayFor(m => item.Xa_Internet)</font> </td>

                    <td class=xl239 style='border: 1px solid black'> <font color="#000000">@Html.DisplayFor(m => item.Xa_MangCD)</font> </td>
                    <td class=xl239 style='border: 1px solid black'> <font color="#000000">@Html.DisplayFor(m => item.GiaoDuc_MayBan)</font> </td>
                    <td class=xl239 style='border: 1px solid black'> <font color="#000000">@Html.DisplayFor(m => item.GiaoDuc_LapTop)</font> </td>
                    <td class=xl239 style='border: 1px solid black'> <font color="#000000">@Html.DisplayFor(m => item.GiaoDuc_MayChu)</font> </td>
                    <td class=xl239 style='border: 1px solid black'> <font color="#000000">@Html.DisplayFor(m => item.GiaoDuc_VirusBanQuyen)</font> </td>
                    <td class=xl239 style='border: 1px solid black'> <font color="#000000">@Html.DisplayFor(m => item.GiaoDuc_Internet)</font> </td>

                    <td class=xl78 align=right style='border: 1px solid black'> <font color="#000000">@Html.DisplayFor(m => item.GiaoDuc_MangCD)</font> </td>
                    <td class=xl78 align=right style='border: 1px solid black'> <font color="#000000">@Html.DisplayFor(m => item.YTe_MayBan)</font> </td>
                    <td class=xl78 align=right style='border: 1px solid black'> <font color="#000000">@Html.DisplayFor(m => item.YTe_LapTop)</font> </td>
                    <td class=xl78 align=right style='border: 1px solid black'> <font color="#000000">@Html.DisplayFor(m => item.YTe_MayChu)</font> </td>

                    <td class=xl92 align=right width=85 style='border: 1px solid black;width:64pt'>
                        <font color="#000000">@Html.DisplayFor(m => item.YTe_VirusBanQuyen)</font>
                    </td>
                    <td class=xl92 align=right width=85 style='border: 1px solid black;width:64pt'>
                        <font color="#000000">@Html.DisplayFor(m => item.YTe_Internet)</font>
                    </td>
                    <td class=xl92 align=right width=85 style='border: 1px solid black;width:64pt'>
                        <font color="#000000">@Html.DisplayFor(m => item.YTe_MangCD)</font>
                    </td>
                    <td class=xl92 align=right width=85 style='border: 1px solid black;width:64pt'>
                        <font color="#000000">@Html.DisplayFor(m => item.Khac_MayBan)</font>
                    </td>
                    <td class=xl92 align=right width=85 style='border: 1px solid black;width:64pt'>
                        <font color="#000000">@Html.DisplayFor(m => item.Khac_LapTop)</font>
                    </td>
                    <td class=xl92 align=right width=85 style='border: 1px solid black; width:64pt'>
                        <font color="#000000">@Html.DisplayFor(m => item.Khac_MayChu)</font>
                    </td>
                    <td class=xl92 align=right width=85 style='border: 1px solid black;width:64pt'>
                        <font color="#000000">@Html.DisplayFor(m => item.Khac_VirusBanQuyen)</font>
                    </td>
                    <td class=xl92 align=right width=85 style='border: 1px solid black; width:64pt'>
                        <font color="#000000">@Html.DisplayFor(m => item.Khac_Internet)</font>
                    </td>
                    <td class=xl92 align=right width=85 style='border: 1px solid black;width:64pt'>
                        <font color="#000000">@Html.DisplayFor(m => item.Khac_MangCD)</font>
                    </td>

                    <td class=xl78 align=right style='border: 1px solid black'> <font color="#000000">@Html.DisplayFor(m => item.VHX_MayBan)</font> </td>
                    <td class=xl78 align=right style='border: 1px solid black'> <font color="#000000">@Html.DisplayFor(m => item.VHX_LapTop)</font> </td>
                    <td class=xl78 align=right style='border: 1px solid black'> <font color="#000000">@Html.DisplayFor(m => item.VHX_MayChu)</font> </td>
                    <td class=xl78 align=right style='border: 1px solid black'> <font color="#000000">@Html.DisplayFor(m => item.VHX_VirusBanQuyen)</font> </td>
                    <td class=xl78 align=right style='border: 1px solid black'> <font color="#000000">@Html.DisplayFor(m => item.VHX_Internet)</font> </td>
                    <td class=xl78 align=right style='border: 1px solid black'> <font color="#000000">@Html.DisplayFor(m => item.VHX_MangCD)</font> </td>
                    <td class=xl78 align=right style='border: 1px solid black'> <font color="#000000">@Html.DisplayFor(m => item.DoanhNghiep_MayBan)</font> </td>
                    <td class=xl78 align=right style='border: 1px solid black'> <font color="#000000">@Html.DisplayFor(m => item.DoanhNghiep_LapTop)</font> </td>
                    <td class=xl78 align=right style='border: 1px solid black'> <font color="#000000">@Html.DisplayFor(m => item.DoanhNghiep_MayChu)</font> </td>
                    <td class=xl78 align=right style='border: 1px solid black'> <font color="#000000">@Html.DisplayFor(m => item.DoanhNghiep_VirusBanQuyen)</font> </td>
                    <td class=xl78 align=right style='border: 1px solid black'> <font color="#000000">@Html.DisplayFor(m => item.DoanhNghiep_Internet)</font> </td>
                    <td class=xl78 align=right style='border: 1px solid black'> <font color="#000000">@Html.DisplayFor(m => item.DoanhNghiep_MangCD)</font> </td>

                    <td class=xl239 style='border: 1px solid black'> <font color="#000000">@Html.DisplayFor(m => item.HoGiaDinh_MayBan)</font> </td>

                    <td class=xl78 align=right style='border: 1px solid black'> <font color="#000000">@Html.DisplayFor(m => item.HoGiaDinh_LapTop)</font> </td>
                    <td class=xl78 align=right style='border: 1px solid black'> <font color="#000000">@Html.DisplayFor(m => item.HoGiaDinh_MayChu)</font> </td>

                    <td class=xl239 style='border: 1px solid black'> <font color="#000000">@Html.DisplayFor(m => item.HoGiaDinh_VirusBanQuyen)</font> </td>
                    <td class=xl239 style='border: 1px solid black'> <font color="#000000">@Html.DisplayFor(m => item.HoGiaDinh_Internet)</font> </td>

                    <td class=xl78 align=right style='border: 1px solid black'> <font color="#000000">@Html.DisplayFor(m => item.HoGiaDinh_MangCD)</font> </td>
                    <td class=xl78 align=right style='border: 1px solid black'> <font color="#000000">@Html.DisplayFor(m => item.KhongKetNoiInternet)</font> </td>
                    <td class=xl78 align=right style='border: 1px solid black'> <font color="#000000">@Html.DisplayFor(m => item.TuongLua)</font> </td>
                    <td class=xl78 align=right style='border: 1px solid black'> <font color="#000000">@Html.DisplayFor(m => item.TruyCapTraiPhep)</font> </td>
                    <td class=xl78 align=right style='border: 1px solid black'> <font color="#000000">@Html.DisplayFor(m => item.CanhBaoChayNo)</font> </td>
                    <td class=xl78 align=right style='border: 1px solid black'> <font color="#000000">@Html.DisplayFor(m => item.ChongSet)</font> </td>
                    <td class=xl78 align=right style='border: 1px solid black'> <font color="#000000">@Html.DisplayFor(m => item.BangTu)</font> </td>
                    <td class=xl78 align=right style='border: 1px solid black'> <font color="#000000">@Html.DisplayFor(m => item.TuDia)</font> </td>
                    <td class=xl78 align=right style='border: 1px solid black'> <font color="#000000">@Html.DisplayFor(m => item.SAN)</font> </td>
                    <td class=xl78 align=right style='border: 1px solid black'> <font color="#000000">@Html.DisplayFor(m => item.NAS)</font> </td>
                    <td class=xl78 align=right style='border: 1px solid black'> <font color="#000000">@Html.DisplayFor(m => item.DAS)</font> </td>
                    <td class=xl78 align=right style='border: 1px solid black'> <font color="#000000">@Html.DisplayFor(m => item.RAID)</font> </td>
                    <td class=xl78 align=right style='border: 1px solid black'> <font color="#000000">@Html.DisplayFor(m => item.BuuDienXa)</font> </td>
                    <td class=xl78 align=right style='border: 1px solid black'> <font color="#000000">@Html.DisplayFor(m => item.BuuDienXa_Internet)</font> </td>
                    <td class=xl78 align=right style='border: 1px solid black'> <font color="#000000">@Html.DisplayFor(m => item.BuuDienXa_DaiLyInternet)</font> </td>
                    <td class=xl78 align=right style='border: 1px solid black'> <font color="#000000">@Html.DisplayFor(m => item.HoiNghiTruyenHinhCapHuyen)</font> </td>
                    <td class=xl78 align=right style='border: 1px solid black'> <font color="#000000">@Html.DisplayFor(m => item.SoCuocHopCapHuyen)</font> </td>
                    <td class=xl78 align=right style='border: 1px solid black'> <font color="#000000">@Html.DisplayFor(m => item.HoiNghiTruyenHinhCapXa)</font> </td>
                    <td class=xl78 align=right style='border: 1px solid black'> <font color="#000000">@Html.DisplayFor(m => item.SoCuocHopCapXa)</font> </td>
                    <td class=xl240 align=right style='border: 1px solid black'> <font color="#000000">@Html.DisplayFor(m => item.TongMucDauTu)</font> </td>
                    </tr>

                i++;
            }
         
        <tr>
            <td align=right></td>
            <td class=xl238>
                <font class="font16"
                      face="Times New Roman" size="3"><b>Tổng cộng</b></font>
                </td>
            <td align=right>@ViewBag.ADSL                       </td>
            <td align=right>@ViewBag.LeadedLine                 </td>
            <td align=right>@ViewBag.CapQuang                   </td>
            <td align=right>@ViewBag.Khac                       </td>
            <td align=right>@ViewBag.UBND_MayBan                </td>
            <td align=right>@ViewBag.UBND_LapTop                </td>
            <td align=right>@ViewBag.UBND_MayChu                </td>
            <td align=right>@ViewBag.UBND_VirusBanQuyen         </td>
            <td align=right>@ViewBag.UBND_Internet              </td>
            <td align=right>@ViewBag.UBND_MangCD                </td>
            <td align=right>@ViewBag.HuyenUy_MayBan             </td>
            <td align=right>@ViewBag.HuyenUy_LapTop             </td>
            <td align=right>@ViewBag.HuyenUy_MayChu             </td>
            <td align=right>@ViewBag.HuyenUy_VirusBanQuyen      </td>
            <td align=right>@ViewBag.HuyenUy_Internet           </td>
            <td align=right>@ViewBag.HuyenUy_MangCD             </td>
            <td align=right>@ViewBag.Xa_MayBan                  </td>
            <td align=right>@ViewBag.Xa_LapTop                  </td>
            <td align=right>@ViewBag.Xa_MayChu                  </td>
            <td align=right>@ViewBag.Xa_VirusBanQuyen           </td>
            <td align=right>@ViewBag.Xa_Internet                </td>
            <td align=right>@ViewBag.Xa_MangCD                  </td>
            <td align=right>@ViewBag.GiaoDuc_MayBan             </td>
            <td align=right>@ViewBag.GiaoDuc_LapTop             </td>
            <td align=right>@ViewBag.GiaoDuc_MayChu             </td>
            <td align=right>@ViewBag.GiaoDuc_VirusBanQuyen      </td>
            <td align=right>@ViewBag.GiaoDuc_Internet           </td>
            <td align=right>@ViewBag.GiaoDuc_MangCD             </td>
            <td align=right>@ViewBag.YTe_MayBan                 </td>
            <td align=right>@ViewBag.YTe_LapTop                 </td>
            <td align=right>@ViewBag.YTe_MayChu                 </td>
            <td align=right>@ViewBag.YTe_VirusBanQuyen          </td>
            <td align=right>@ViewBag.YTe_Internet               </td>
            <td align=right>@ViewBag.YTe_MangCD                 </td>
            <td align=right>@ViewBag.Khac_MayBan                </td>
            <td align=right>@ViewBag.Khac_LapTop                </td>
            <td align=right>@ViewBag.Khac_MayChu                </td>
            <td align=right>@ViewBag.Khac_VirusBanQuyen         </td>
            <td align=right>@ViewBag.Khac_Internet              </td>
            <td align=right>@ViewBag.Khac_MangCD                </td>
            <td align=right>@ViewBag.VHX_MayBan                 </td>
            <td align=right>@ViewBag.VHX_LapTop                 </td>
            <td align=right>@ViewBag.VHX_MayChu                 </td>
            <td align=right>@ViewBag.VHX_VirusBanQuyen          </td>
            <td align=right>@ViewBag.VHX_Internet               </td>
            <td align=right>@ViewBag.VHX_MangCD                 </td>
            <td align=right>@ViewBag.DoanhNghiep_MayBan         </td>
            <td align=right>@ViewBag.DoanhNghiep_LapTop         </td>
            <td align=right>@ViewBag.DoanhNghiep_MayChu         </td>
            <td align=right>@ViewBag.DoanhNghiep_VirusBanQuyen  </td>
            <td align=right>@ViewBag.DoanhNghiep_Internet       </td>
            <td align=right>@ViewBag.DoanhNghiep_MangCD         </td>
            <td align=right>@ViewBag.HoGiaDinh_MayBan           </td>
            <td align=right>@ViewBag.HoGiaDinh_LapTop           </td>
            <td align=right>@ViewBag.HoGiaDinh_MayChu           </td>
            <td align=right>@ViewBag.HoGiaDinh_VirusBanQuyen    </td>
            <td align=right>@ViewBag.HoGiaDinh_Internet         </td>
            <td align=right>@ViewBag.HoGiaDinh_MangCD           </td>
            <td align=right>@ViewBag.KhongKetNoiInternet        </td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td align=right>@ViewBag.BuuDienXa                  </td>
            <td align=right>@ViewBag.BuuDienXa_Internet         </td>
            <td align=right>@ViewBag.BuuDienXa_DaiLyInternet    </td>

            <td></td>
            <td align=right>@ViewBag.SoCuocHopCapHuyen          </td>
            <td align=right>@ViewBag.SoCuocHopCapXa             </td>
            <td align=right>@ViewBag.TongChiNganSach            </td>
            <td align=right>@ViewBag.TongMucDauTu               </td>
        </tr>
        }
        <![if supportMisalignedColumns]>
        <tr height=0 style='display:none'>
            <td width=34 style='width:26pt'></td>
            <td width=193 style='width:145pt'></td>
            <td width=77 style='width:58pt'></td>
            <td width=64 style='width:48pt'></td>
            <td width=75 style='width:56pt'></td>
            <td width=64 style='width:48pt'></td>
            <td width=64 style='width:48pt'></td>
            <td width=72 style='width:54pt'></td>
            <td width=81 style='width:61pt'></td>
            <td width=81 style='width:61pt'></td>
            <td width=73 style='width:55pt'></td>
            <td width=74 style='width:56pt'></td>
            <td width=68 style='width:51pt'></td>
            <td width=59 style='width:44pt'></td>
            <td width=64 style='width:48pt'></td>
            <td width=81 style='width:61pt'></td>
            <td width=90 style='width:68pt'></td>
            <td width=83 style='width:62pt'></td>
            <td width=77 style='width:58pt'></td>
            <td width=97 style='width:73pt'></td>
            <td width=98 style='width:74pt'></td>
            <td width=98 style='width:74pt'></td>
            <td width=98 style='width:74pt'></td>
            <td width=98 style='width:74pt'></td>
            <td width=98 style='width:74pt'></td>
            <td width=98 style='width:74pt'></td>
            <td width=65 style='width:49pt'></td>
            <td width=65 style='width:49pt'></td>
            <td width=67 style='width:50pt'></td>
            <td width=67 style='width:50pt'></td>
            <td width=103 style='width:77pt'></td>
            <td width=75 style='width:56pt'></td>
            <td width=54 style='width:41pt'></td>
            <td width=63 style='width:47pt'></td>
            <td width=76 style='width:57pt'></td>
            <td width=85 style='width:64pt'></td>
            <td width=78 style='width:59pt'></td>
            <td width=71 style='width:53pt'></td>
            <td width=60 style='width:45pt'></td>
            <td width=61 style='width:46pt'></td>
            <td width=71 style='width:53pt'></td>
            <td width=64 style='width:48pt'></td>
            <td width=64 style='width:48pt'></td>
            <td width=64 style='width:48pt'></td>
            <td width=64 style='width:48pt'></td>
            <td width=64 style='width:48pt'></td>
            <td width=64 style='width:48pt'></td>
            <td width=64 style='width:48pt'></td>
            <td width=64 style='width:48pt'></td>
            <td width=64 style='width:48pt'></td>
            <td width=64 style='width:48pt'></td>
            <td width=64 style='width:48pt'></td>
            <td width=64 style='width:48pt'></td>
            <td width=64 style='width:48pt'></td>
            <td width=64 style='width:48pt'></td>
            <td width=74 style='width:56pt'></td>
            <td width=64 style='width:48pt'></td>
            <td width=64 style='width:48pt'></td>
            <td width=67 style='width:50pt'></td>
            <td width=67 style='width:50pt'></td>
            <td width=64 style='width:48pt'></td>
            <td width=110 style='width:83pt'></td>
            <td width=64 style='width:48pt'></td>
            <td width=93 style='width:70pt'></td>
            <td width=100 style='width:75pt'></td>
            <td width=64 style='width:48pt'></td>
            <td width=64 style='width:48pt'></td>
            <td width=64 style='width:48pt'></td>
            <td width=64 style='width:48pt'></td>
            <td width=64 style='width:48pt'></td>
            <td width=64 style='width:48pt'></td>
            <td width=64 style='width:48pt'></td>
            <td width=64 style='width:48pt'></td>
            <td width=64 style='width:48pt'></td>
            <td width=131 style='width:98pt'></td>
            <td width=92 style='width:69pt'></td>
            <td width=97 style='width:73pt'></td>
            <td width=75 style='width:56pt'></td>
            <td width=64 style='width:48pt'></td>
            <td width=118 style='width:89pt'></td>
        </tr>
        <![endif]>
    </table>

</body>

</html>
