@model IEnumerable<S4T_HaTinh.Models.sp_GetUngDungCNTT_Result>
@{
    
}
@* style="table-layout: fixed; width: 100%" *@
<table class="tableDefault" >
    <tr>
        <th rowspan="2" style="min-width: 30px">STT</th>
        <th rowspan="2">Tên đơn vị</th>
        <th rowspan="2">Số CBCC</th>
        <th rowspan="2">Số DVTT</th>
        <th rowspan="2">Số CB DVTT</th>

        <th colspan="8">Triển khai các ứng dụng cơ bản</th>
        <th colspan="6">Kết quả ứng dụng quản lý văn bản và điều hành tác nghiệp trực tuyến</th>
        <th colspan="6">Số lượng máy tính cài đặt ứng dụng PMNM tại UBND cấp huyện</th>
        <th rowspan="2">Phần mềm quản lý chuyên ngành</th>
        <th rowspan="2">Tổng mức đầu tư</th>
    </tr>
    <tr>
        <th>Quản lý văn bản và điều hành tác nghiệp trực tuyến</th>
        <th>Quản lý nhân sự</th>
        <th>Quản lý tài chính - kế toán</th>
        <th>Tài chính kế toán và tài sản công</th>
        <th>Quản lý thanh tra, khiếu nại, tố cáo</th>
        <th>Ứng dụng chữ ký số</th>
        <th>Một cửa điện tử</th>
        <th>Số TTHC được đưa vào một cửa điện tử</th>

        <th>Số đơn vị kết nối liên thông</th>
        <th>Số văn bản đi được đưa lên phần mềm</th>
        <th>Số văn bản đến được đưa lên phần mềm</th>
        <th>Tổng số văn bản đi của cơ quan</th>
        <th>Tổng số văn bản đến của cơ quan</th>
        <th>Số email (mail.hatinh.gov.vn) thường xuyên sử dụng</th>

        <th>Open Office</th>
        <th>Mozilla ThunderBird</th>
        <th>Mozilla FireFox</th>
        <th>Unikey</th>
        <th>Hệ điều hành PMNM</th>
        <th>Máy chủ cài hệ điều hành PMNM</th>
    </tr>

    @if (Model != null)
    {
        int i = 1;
        foreach (var item in Model)
        {
            <tr>
                <td>@i</td>
                <td>@Html.DisplayFor(m => item.TenDonVi)</td>
                <td>@Html.DisplayFor(m => item.SoCBCC)</td>
                <td>@Html.DisplayFor(m => item.SoDonViTrucThuoc)</td>
                <td>@Html.DisplayFor(m => item.SoCB_DVTT)</td>

                <td>@Html.DisplayFor(m => item.QLVB)</td>
                <td>@Html.DisplayFor(m => item.QLNhanSu)</td>
                <td>@Html.DisplayFor(m => item.QLTaiChinhKeToan)</td>
                <td>@Html.DisplayFor(m => item.QLTaiSanCong)</td>
                <td>@Html.DisplayFor(m => item.QLKhieuNai)</td>
                <td>@Html.DisplayFor(m => item.ChuKySo)</td>
                <td>@Html.DisplayFor(m => item.MotCuaDienTu)</td>
                <td>@Html.DisplayFor(m => item.SoTTHC)</td>

                <td>@Html.DisplayFor(m => item.DV_LienThong)</td>
                <td>@Html.DisplayFor(m => item.VBDi)</td>
                <td>@Html.DisplayFor(m => item.VBDen)</td>
                <td>@Html.DisplayFor(m => item.TongSo_VBDi)</td>
                <td>@Html.DisplayFor(m => item.TongSo_VBDen)</td>
                <td>@Html.DisplayFor(m => item.SoEmail)</td>

                <td>@Html.DisplayFor(m => item.OpenOffice)</td>
                <td>@Html.DisplayFor(m => item.MozillaThunderBird)</td>
                <td>@Html.DisplayFor(m => item.MozillaFireFox)</td>
                <td>@Html.DisplayFor(m => item.Unikey)</td>
                <td>@Html.DisplayFor(m => item.PMNM)</td>
                <td>@Html.DisplayFor(m => item.PMNM_MayChu)</td>
                @*<td>Chi tiết</td>*@
                <td><a href="#" onclick="javascript:OpenWindow('@(Url.Action("ListPMCN", "UngDungCNTTs", new { id = item.UngDungCNTT_ID }))', 626, 275, true); return false;">Chi tiết</a></td>
                <td>@Html.DisplayFor(m => item.TongMucDauTu)</td>
            </tr>
            i++;
        }
        <tr>
            <td></td>
            <td>Tổng cộng</td>
            <td>@ViewBag.SoCBCC</td>
            <td>@ViewBag.SoDonViTrucThuoc</td>
            <td>@ViewBag.SoCB_DVTT</td>

            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>@ViewBag.SoTTHC</td>

            <td>@ViewBag.DV_LienThong</td>
            <td>@ViewBag.VBDi</td>
            <td>@ViewBag.VBDen</td>
            <td>@ViewBag.TongSo_VBDi</td>
            <td>@ViewBag.TongSo_VBDen</td>
            <td>@ViewBag.SoEmail</td>

            <td>@ViewBag.OpenOffice</td>
            <td>@ViewBag.MozillaThunderBird</td>
            <td>@ViewBag.MozillaFireFox</td>
            <td>@ViewBag.Unikey</td>
            <td>@ViewBag.PMNM</td>
            <td>@ViewBag.PMNM_MayChu</td>
            <td></td>
            <td>@ViewBag.TongMucDauTu</td>
        </tr>
    }
</table>