@model S4T_HaTinh.Models.ResetPasswordViewModel
@{
    ViewBag.Title = "ĐỔI MẬT KHẨU";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm("ResetPassword", "HT_User", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <hr />
    
    @Html.ValidationSummary("", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.Id)
    <div class="divRow">
        @Html.LabelFor(m => m.UserName, new { @class = "divLabel" })
        <div class="divControl">
            @Html.DisplayTextFor(model => model.UserName)
            @Html.HiddenFor(m => m.UserName)
            @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="divRow">
        @Html.LabelFor(m => m.Password, new { @class = "divLabel" })
        <div class="divControl">
            <span style="width: 250px; font-family: Calibri; font-size: small; "
                  class="k-widget k-autocomplete k-header k-state-default">
                @Html.PasswordFor(model => model.Password, new { @class = "k-input", @style = "width: 100%; font-family: Calibri; font-size: small;" })
                @*<input id="Password" type="password"
            style="width: 100%; font-family: Calibri; font-size: small;"
            class="k-input">*@
            </span>
            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="divRow">
        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "divLabel" })
        <div class="divControl">
            <span style="width: 250px; font-family: Calibri; font-size: small; "
                  class="k-widget k-autocomplete k-header k-state-default">
                @Html.PasswordFor(model => model.ConfirmPassword, new { @class = "k-input", @style = "width: 100%; font-family: Calibri; font-size: small;" })
                @*<input id="Password" type="password"
                    style="width: 100%; font-family: Calibri; font-size: small;"
                    class="k-input">*@
            </span>
            @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="divRow">
        <label class="divLabel" id="lbl"></label>
        <div class="divControl">@ViewBag.Message</div>
    </div>
    <div class="divRow">
        <label class="divLabel" id="lbl"></label>
        <div class="divControl">
            <button type="submit" class="k-button k-button-icontext"><span class="k-icon k-i-tick"></span>Lưu</button>
        </div>
    </div>
}
