@model S4T_HaTinh.Models.HaTangKyThuatCNTT

@{
    ViewBag.Title = "CHECK";
}
<style type="text/css">
    .S4T_NumericTextBox {
        width: 90px;
        float: left;
    }

    input[type=checkbox] {
        float: left;
        /*margin-top: 7px;*/
        max-width: 200px;
    }
</style>
<script src="~/Scripts/s4t-hatinh.js" type="text/javascript"></script>


<h3>HẠ TẦNG KỸ THUẬT CNTT</h3>
<h4>Đơn vị @ViewBag.TenDonVi nhập dữ liệu từ ngày @String.Format("{0:dd/MM/yyyy}", @ViewBag.TuNgay) đến ngày @String.Format("{0:dd/MM/yyyy}", @ViewBag.DenNgay)</h4>
<h5>Trạng thái: Chờ duyệt</h5>
<hr />

@using (Html.BeginForm())
{
    @*@Html.AntiForgeryToken()*@

    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.HaTangKyThuatCNTT_ID)
        <input type="hidden" id="lichNhap_ID" value="@ViewBag.LichNhap_ID" />

        <div class="divRow">
            @Html.LabelFor(model => model.TruongNhapLai, htmlAttributes: new { @class = "divLabel" })
            <div class="divControl">
                @Html.HiddenFor(model => model.TruongNhapLai)
                @Html.TextArea("txtTruongNhapLai","", new { @rows = "5", @cols = "45", @readonly = "readonly" })
            </div>
        </div>

        <div class="divRow">
            1. Số máy chủ và máy tính hiện đang sử dụng: <span id="lblTongSoMay"></span>
            <table class="tableDefault">
                <tr>
                    <th></th>
                    <th>Máy tính để bàn</th>
                    <th>Laptop</th>
                    <th>Máy chủ</th>
                    <th>Số máy kết nối Internet</th>
                    <th>PM Virus bản quyền</th>
                    <th>Máy chiếu</th>
                    <th>Máy scan</th>
                    <th>Máy in</th>
                    <th>Máy ảnh></th>
                    <th>Máy quay film</th>
                    <th>Máy tính bảng</th>
                </tr>

                <tr>
                    <td>Tại đơn vị</td>
                    <td>
                        @Html.LabelFor(model => model.MayBan, new { @style = "display:none" })
                        @Html.TextBoxFor(model => model.MayBan, new { @class = "S4T_NumericTextBox", @readonly = "readonly" })
                        @Html.CheckBox("chk_value_MayBan")
                        @Html.ValidationMessageFor(model => model.MayBan, "", new { @class = "text-danger" })
                    </td>
                    <td>
                        @Html.LabelFor(model => model.LapTop, new { @style = "display:none" })
                        @Html.TextBoxFor(model => model.LapTop, new { @class = "S4T_NumericTextBox", @readonly = "readonly" })
                        @Html.CheckBox("chk_value_LapTop")
                        @Html.ValidationMessageFor(model => model.LapTop, "", new { @class = "text-danger" })
                    </td>
                    <td>
                        @Html.LabelFor(model => model.MayChu, new { @style = "display:none" })
                        @Html.TextBoxFor(model => model.MayChu, new { @class = "S4T_NumericTextBox", @readonly = "readonly" })
                        @Html.CheckBox("chk_value_MayChu")
                        @Html.ValidationMessageFor(model => model.MayChu, "", new { @class = "text-danger" })
                    </td>
                    <td>
                        @Html.LabelFor(model => model.MayNoiMangInternet, new { @style = "display:none" })
                        @Html.TextBoxFor(model => model.MayNoiMangInternet, new { @class = "S4T_NumericTextBox", @readonly="readonly" })
                        @Html.CheckBox("chk_value_MayNoiMangInternet")
                        @Html.ValidationMessageFor(model => model.MayNoiMangInternet, "", new { @class = "text-danger" })
                    </td>
                    <td>
                        @Html.LabelFor(model => model.VirusCoBanQuyen, new { @style = "display:none" })
                        @Html.TextBoxFor(model => model.VirusCoBanQuyen, new { @class = "S4T_NumericTextBox", @readonly="readonly" })
                        @Html.CheckBox("chk_value_VirusCoBanQuyen")
                        @Html.ValidationMessageFor(model => model.VirusCoBanQuyen, "", new { @class = "text-danger" })
                    </td>
                    <td>
                        @Html.LabelFor(model => model.MayChieu, new { @style = "display:none" })
                        @Html.TextBoxFor(model => model.MayChieu, new { @class = "S4T_NumericTextBox", @readonly="readonly" })
                        @Html.CheckBox("chk_value_MayChieu")
                        @Html.ValidationMessageFor(model => model.MayChieu, "", new { @class = "text-danger" })
                    </td>
                    <td>
                        @Html.LabelFor(model => model.MayScan, new { @style = "display:none" })
                        @Html.TextBoxFor(model => model.MayScan, new { @class = "S4T_NumericTextBox", @readonly="readonly" })
                        @Html.CheckBox("chk_value_MayScan")
                        @Html.ValidationMessageFor(model => model.MayScan, "", new { @class = "text-danger" })
                    </td>
                    <td>
                        @Html.LabelFor(model => model.MayIn, new { @style = "display:none" })
                        @Html.TextBoxFor(model => model.MayIn, new { @class = "S4T_NumericTextBox", @readonly="readonly" })
                        @Html.CheckBox("chk_value_MayIn")
                        @Html.ValidationMessageFor(model => model.MayIn, "", new { @class = "text-danger" })
                    </td>
                    <td>
                        @Html.LabelFor(model => model.MayAnh, new { @style = "display:none" })
                        @Html.TextBoxFor(model => model.MayAnh, new { @class = "S4T_NumericTextBox", @readonly="readonly" })
                        @Html.CheckBox("chk_value_MayAnh")
                        @Html.ValidationMessageFor(model => model.MayAnh, "", new { @class = "text-danger" })
                    </td>
                    <td>
                        @Html.LabelFor(model => model.MayQuayPhim, new { @style = "display:none" })
                        @Html.TextBoxFor(model => model.MayQuayPhim, new { @class = "S4T_NumericTextBox", @readonly="readonly" })
                        @Html.CheckBox("chk_value_MayQuayPhim")
                        @Html.ValidationMessageFor(model => model.MayQuayPhim, "", new { @class = "text-danger" })
                    </td>
                    <td>
                        @Html.LabelFor(model => model.MayTinhBang, new { @style = "display:none" })
                        @Html.TextBoxFor(model => model.MayTinhBang, new { @class = "S4T_NumericTextBox", @readonly="readonly" })
                        @Html.CheckBox("chk_value_MayTinhBang")
                        @Html.ValidationMessageFor(model => model.MayTinhBang, "", new { @class = "text-danger" })
                    </td>
                </tr>

                <tr>
                    <td>Đơn vị trực thuộc</td>
                    <td>
                        @Html.LabelFor(model => model.MayBan_DVTT, new { @style = "display:none" })
                        @Html.TextBoxFor(model => model.MayBan_DVTT, new { @class = "S4T_NumericTextBox", @readonly="readonly" })
                        @Html.CheckBox("chk_value_MayBan_DVTT")
                        @Html.ValidationMessageFor(model => model.MayBan_DVTT, "", new { @class = "text-danger" })
                    </td>
                    <td>
                        @Html.LabelFor(model => model.LapTop_DVTT, new { @style = "display:none" })
                        @Html.TextBoxFor(model => model.LapTop_DVTT, new { @class = "S4T_NumericTextBox", @readonly="readonly" })
                        @Html.CheckBox("chk_value_LapTop_DVTT")
                        @Html.ValidationMessageFor(model => model.LapTop_DVTT, "", new { @class = "text-danger" })
                    </td>
                    <td>
                        @Html.LabelFor(model => model.MayChu_DVTT, new { @style = "display:none" })
                        @Html.TextBoxFor(model => model.MayChu_DVTT, new { @class = "S4T_NumericTextBox", @readonly="readonly" })
                        @Html.CheckBox("chk_value_MayChu_DVTT")
                        @Html.ValidationMessageFor(model => model.MayChu_DVTT, "", new { @class = "text-danger" })
                    </td>
                    <td>
                        @Html.LabelFor(model => model.MayNoiMangInternet_DVTT, new { @style = "display:none" })
                        @Html.TextBoxFor(model => model.MayNoiMangInternet_DVTT, new { @class = "S4T_NumericTextBox", @readonly="readonly" })
                        @Html.CheckBox("chk_value_MayNoiMangInternet_DVTT")
                        @Html.ValidationMessageFor(model => model.MayNoiMangInternet_DVTT, "", new { @class = "text-danger" })
                    </td>
                    <td>
                        @Html.LabelFor(model => model.VirusCoBanQuyen_DVTT, new { @style = "display:none" })
                        @Html.TextBoxFor(model => model.VirusCoBanQuyen_DVTT, new { @class = "S4T_NumericTextBox", @readonly="readonly" })
                        @Html.CheckBox("chk_value_VirusCoBanQuyen_DVTT")
                        @Html.ValidationMessageFor(model => model.VirusCoBanQuyen_DVTT, "", new { @class = "text-danger" })
                    </td>
                    <td>
                        @Html.LabelFor(model => model.MayChieu_DVTT, new { @style = "display:none" })
                        @Html.TextBoxFor(model => model.MayChieu_DVTT, new { @class = "S4T_NumericTextBox", @readonly="readonly" })
                        @Html.CheckBox("chk_value_MayChieu_DVTT")
                        @Html.ValidationMessageFor(model => model.MayChieu_DVTT, "", new { @class = "text-danger" })
                    </td>
                    <td>
                        @Html.LabelFor(model => model.MayScan_DVTT, new { @style = "display:none" })
                        @Html.TextBoxFor(model => model.MayScan_DVTT, new { @class = "S4T_NumericTextBox", @readonly="readonly" })
                        @Html.CheckBox("chk_value_MayScan_DVTT")
                        @Html.ValidationMessageFor(model => model.MayScan_DVTT, "", new { @class = "text-danger" })
                    </td>
                    <td>
                        @Html.LabelFor(model => model.MayIn_DVTT, new { @style = "display:none" })
                        @Html.TextBoxFor(model => model.MayIn_DVTT, new { @class = "S4T_NumericTextBox", @readonly="readonly" })
                        @Html.CheckBox("chk_value_MayIn_DVTT")
                        @Html.ValidationMessageFor(model => model.MayIn_DVTT, "", new { @class = "text-danger" })
                    </td>
                    <td>
                        @Html.LabelFor(model => model.MayAnh_DVTT, new { @style = "display:none" })
                        @Html.TextBoxFor(model => model.MayAnh_DVTT, new { @class = "S4T_NumericTextBox", @readonly="readonly" })
                        @Html.CheckBox("chk_value_MayAnh_DVTT")
                        @Html.ValidationMessageFor(model => model.MayAnh_DVTT, "", new { @class = "text-danger" })
                    </td>
                    <td>
                        @Html.LabelFor(model => model.MayQuayPhim_DVTT, new { @style = "display:none" })
                        @Html.TextBoxFor(model => model.MayQuayPhim_DVTT, new { @class = "S4T_NumericTextBox", @readonly="readonly" })
                        @Html.CheckBox("chk_value_MayQuayPhim_DVTT")
                        @Html.ValidationMessageFor(model => model.MayQuayPhim_DVTT, "", new { @class = "text-danger" })
                    </td>
                    <td>
                        @Html.LabelFor(model => model.MayTinhBang_DVTT, new { @style = "display:none" })
                        @Html.TextBoxFor(model => model.MayTinhBang_DVTT, new { @class = "S4T_NumericTextBox", @readonly="readonly" })
                        @Html.CheckBox("chk_value_MayTinhBang_DVTT")
                        @Html.ValidationMessageFor(model => model.MayTinhBang_DVTT, "", new { @class = "text-danger" })
                    </td>
                </tr>
            </table>
        </div>

        <div class="divRow">
            <span style="float:left;padding-top: 5px;">2: </span> 
            @Html.LabelFor(model => model.PhongHopTrucTuyen, new { @class = "divLabel" })
            <div class="divControl">
                <ul style="list-style:none">
                    <li>
                        <input type="radio" id="rd_value_PhongHopTrucTuyen_1" name="rd_value_PhongHopTrucTuyen" style="float:left;width:30px;" disabled="disabled" />
                        <span style="float:left;width:30px;">Có</span>
                    </li>
                    <li>
                        <input type="radio" id="rd_value_PhongHopTrucTuyen_0" name="rd_value_PhongHopTrucTuyen" style="float:left;width:30px;" disabled="disabled" />
                        <span style="width:30px;" disabled="disabled">Không</span>
                    </li>
                    <li>
                        @Html.CheckBox("chk_value_PhongHopTrucTuyen", new { @style = "margin-left: 30px;" })
                    </li>
                </ul>
                @Html.HiddenFor(model => model.PhongHopTrucTuyen)
                @Html.ValidationMessageFor(model => model.PhongHopTrucTuyen, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="divRow">
            3. Kết nối Internet:
        </div>
        <div class="divRow">
            <table class="tableDefault">
                <tr>
                    <td>
                        @Html.LabelFor(model => model.ADSL, htmlAttributes: new { @class = "divLabel", @style="float: left;" })
                        @Html.TextBoxFor(model => model.ADSL, new { @class = "S4T_NumericTextBox", @readonly="readonly" })
                        @Html.CheckBox("chk_value_ADSL")
                        @Html.ValidationMessageFor(model => model.ADSL, "", new { @class = "text-danger" })
                    </td>
                    <td>
                        @Html.LabelFor(model => model.DungLuong_ADSL, htmlAttributes: new { @class = "divLabel", @style = "float: left;" })
                        @Html.TextBoxFor(model => model.DungLuong_ADSL, new { @class = "S4T_NumericTextBox", @readonly="readonly" })
                        @Html.CheckBox("chk_value_DungLuong_ADSL")
                        @Html.ValidationMessageFor(model => model.DungLuong_ADSL, "", new { @class = "text-danger" })
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.LabelFor(model => model.CapQuang, htmlAttributes: new { @class = "divLabel", @style = "float: left;" })
                        @Html.TextBoxFor(model => model.CapQuang, new { @class = "S4T_NumericTextBox", @readonly="readonly" })
                        @Html.CheckBox("chk_value_CapQuang")
                        @Html.ValidationMessageFor(model => model.CapQuang, "", new { @class = "text-danger" })
                    </td>
                    <td>
                        @Html.LabelFor(model => model.DungLuong_CapQuang, htmlAttributes: new { @class = "divLabel", @style = "float: left;" })
                        @Html.TextBoxFor(model => model.DungLuong_CapQuang, new { @class = "S4T_NumericTextBox", @readonly="readonly" })
                        @Html.CheckBox("chk_value_DungLuong_CapQuang")
                        @Html.ValidationMessageFor(model => model.DungLuong_CapQuang, "", new { @class = "text-danger" })
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.LabelFor(model => model.LeasedLine, htmlAttributes: new { @class = "divLabel", @style = "float: left;" })
                        @Html.TextBoxFor(model => model.LeasedLine, new { @class = "S4T_NumericTextBox", @readonly="readonly" })
                        @Html.CheckBox("chk_value_LeasedLine")
                        @Html.ValidationMessageFor(model => model.LeasedLine, "", new { @class = "text-danger" })
                    </td>
                    <td>
                        @Html.LabelFor(model => model.DungLuong_Leased, htmlAttributes: new { @class = "divLabel", @style = "float: left;" })
                        @Html.TextBoxFor(model => model.DungLuong_Leased, new { @class = "S4T_NumericTextBox", @readonly="readonly" })
                        @Html.CheckBox("chk_value_DungLuong_Leased")
                        @Html.ValidationMessageFor(model => model.DungLuong_Leased, "", new { @class = "text-danger" })
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.LabelFor(model => model.MangChuyenDung, htmlAttributes: new { @class = "divLabel", @style = "float: left;" })
                        @Html.TextBoxFor(model => model.MangChuyenDung, new { @class = "S4T_NumericTextBox", @readonly="readonly" })
                        @Html.CheckBox("chk_value_MangChuyenDung")
                        @Html.ValidationMessageFor(model => model.MangChuyenDung, "", new { @class = "text-danger" })
                    </td>
                    <td>
                        @Html.LabelFor(model => model.DungLuong_MangChuyenDung, htmlAttributes: new { @class = "divLabel", @style = "float: left;" })
                        @Html.TextBoxFor(model => model.DungLuong_MangChuyenDung, new { @class = "S4T_NumericTextBox", @readonly="readonly" })
                        @Html.CheckBox("chk_value_DungLuong_MangChuyenDung")
                        @Html.ValidationMessageFor(model => model.DungLuong_MangChuyenDung, "", new { @class = "text-danger" })
                    </td>
                </tr>
            </table>
        </div>

        <div class="divRow">
            @Html.LabelFor(model => model.ManHinh_LichCongTac, htmlAttributes: new { @class = "divLabel" })
            <div class="divControl">
                @Html.TextBoxFor(model => model.ManHinh_LichCongTac, new { @class = "S4T_NumericTextBox", @readonly="readonly" })
                @Html.CheckBox("chk_value_ManHinh_LichCongTac")
                @Html.ValidationMessageFor(model => model.ManHinh_LichCongTac, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="divRow">
            @Html.LabelFor(model => model.ManHinh_TraCuuTTHC, htmlAttributes: new { @class = "divLabel" })
            <div class="divControl">
                @Html.TextBoxFor(model => model.ManHinh_TraCuuTTHC, new { @class = "S4T_NumericTextBox", @readonly="readonly" })
                @Html.CheckBox("chk_value_ManHinh_TraCuuTTHC")
                @Html.ValidationMessageFor(model => model.ManHinh_TraCuuTTHC, "", new { @class = "text-danger" })
            </div>
        </div>

        @* ==========================  Bảo đảm an toàn, an ninh thông tin   ======================================== *@
        <div class="divRow">
            4. Bảo đảm an toàn, an ninh thông tin
        </div>

        <div class="divRow">
            @Html.LabelFor(model => model.HeThongTuongLua, htmlAttributes: new { @class = "divLabel" })
            <div class="divControl">
                <ul style="list-style:none">
                    <li>
                        <input type="radio" id="rd_value_HeThongTuongLua_1" name="rd_value_HeThongTuongLua" style="float:left;width:30px;" disabled="disabled" />
                        <span style="float:left;width:30px;">Có</span>
                    </li>
                    <li>
                        <input type="radio" id="rd_value_HeThongTuongLua_0" name="rd_value_HeThongTuongLua" style="float:left;width:30px;" disabled="disabled" />
                        <span style="width:30px;float:left;">Không</span>
                    </li>
                    <li>
                        @Html.CheckBox("chk_value_HeThongTuongLua", new { @style = "margin-left: 30px;" })
                    </li>
                </ul>
                @Html.HiddenFor(model => model.HeThongTuongLua)
                @Html.ValidationMessageFor(model => model.HeThongTuongLua, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="divRow">
            @Html.LabelFor(model => model.PhongChongTruyCapTraiPhep, htmlAttributes: new { @class = "divLabel" })
            <div class="divControl">
                <ul style="list-style:none">
                    <li>
                        <input type="radio" id="rd_value_PhongChongTruyCapTraiPhep_1" name="rd_value_PhongChongTruyCapTraiPhep" style="float:left;width:30px;" disabled="disabled" />
                        <span style="float:left;width:30px;">Có</span>
                    </li>
                    <li>
                        <input type="radio" id="rd_value_PhongChongTruyCapTraiPhep_0" name="rd_value_PhongChongTruyCapTraiPhep" style="float:left;width:30px;" disabled="disabled" />
                        <span style="width:30px;float:left;">Không</span>
                    </li>
                    <li>
                        @Html.CheckBox("chk_value_PhongChongTruyCapTraiPhep", new { @style = "margin-left: 30px;" })
                    </li>
                </ul>
                @Html.HiddenFor(model => model.PhongChongTruyCapTraiPhep)                
                @Html.ValidationMessageFor(model => model.PhongChongTruyCapTraiPhep, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="divRow">
            @Html.LabelFor(model => model.CanhBaoChayNo, htmlAttributes: new { @class = "divLabel" })
            <div class="divControl">
                <ul style="list-style:none">
                    <li>
                        <input type="radio" id="rd_value_CanhBaoChayNo_1" name="rd_value_CanhBaoChayNo" style="float:left;width:30px;" disabled="disabled" />
                        <span style="float:left;width:30px;">Có</span>
                    </li>
                    <li>
                        <input type="radio" id="rd_value_CanhBaoChayNo_0" name="rd_value_CanhBaoChayNo" style="float:left;width:30px;" disabled="disabled" />
                        <span style="width:30px;float:left;">Không</span>
                    </li>
                    <li>
                        @Html.CheckBox("chk_value_CanhBaoChayNo", new { @style = "margin-left: 30px;" })
                    </li>
                </ul>
                @Html.HiddenFor(model => model.CanhBaoChayNo)
                @Html.ValidationMessageFor(model => model.CanhBaoChayNo, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="divRow">
            @Html.LabelFor(model => model.ChongSet, htmlAttributes: new { @class = "divLabel" })
            <div class="divControl">
                <ul style="list-style:none">
                    <li>
                        <input type="radio" id="rd_value_ChongSet_1" name="rd_value_ChongSet" style="float:left;width:30px;" disabled="disabled" />
                        <span style="float:left;width:30px;">Có</span>
                    </li>
                    <li>
                        <input type="radio" id="rd_value_ChongSet_0" name="rd_value_ChongSet" style="float:left;width:30px;" disabled="disabled" />
                        <span style="width:30px;float:left;">Không</span>
                    </li>
                    <li>
                        @Html.CheckBox("chk_value_ChongSet", new { @style = "margin-left: 30px;" })
                    </li>
                </ul>
                @Html.HiddenFor(model => model.ChongSet)
                @Html.ValidationMessageFor(model => model.ChongSet, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="divRow">
            Backup dữ liệu:
        </div>
        <div class="divRow">
            @Html.LabelFor(model => model.BangTu, htmlAttributes: new { @class = "divLabel" })
            <div class="divControl">
                <ul style="list-style:none">
                    <li>
                        <input type="radio" id="rd_value_BangTu_1" name="rd_value_BangTu" style="float:left;width:30px;" disabled="disabled" />
                        <span style="float:left;width:30px;">Có</span>
                    </li>
                    <li>
                        <input type="radio" id="rd_value_BangTu_0" name="rd_value_BangTu" style="float:left;width:30px;" disabled="disabled" />
                        <span style="width:30px;float:left;">Không</span>
                    </li>
                    <li>
                        @Html.CheckBox("chk_value_BangTu", new { @style = "margin-left: 30px;" })
                    </li>
                </ul>
                @Html.HiddenFor(model => model.BangTu)
                @Html.ValidationMessageFor(model => model.BangTu, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="divRow">
            @Html.LabelFor(model => model.TuDia, htmlAttributes: new { @class = "divLabel" })
            <div class="divControl">
                <ul style="list-style:none">
                    <li>
                        <input type="radio" id="rd_value_TuDia_1" name="rd_value_TuDia" style="float:left;width:30px;" disabled="disabled" />
                        <span style="float:left;width:30px;">Có</span>
                    </li>
                    <li>
                        <input type="radio" id="rd_value_TuDia_0" name="rd_value_TuDia" style="float:left;width:30px;" disabled="disabled" />
                        <span style="width:30px;float:left;">Không</span>
                    </li>
                    <li>
                        @Html.CheckBox("chk_value_TuDia", new { @style = "margin-left: 30px;" })
                    </li>
                </ul>
                @Html.HiddenFor(model => model.TuDia)
                @Html.ValidationMessageFor(model => model.TuDia, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="divRow">
            @Html.LabelFor(model => model.SAN, htmlAttributes: new { @class = "divLabel" })
            <div class="divControl">
                <ul style="list-style:none">
                    <li>
                        <input type="radio" id="rd_value_SAN_1" name="rd_value_SAN" style="float:left;width:30px;" disabled="disabled" />
                        <span style="float:left;width:30px;">Có</span>
                    </li>
                    <li>
                        <input type="radio" id="rd_value_SAN_0" name="rd_value_SAN" style="float:left;width:30px;" disabled="disabled" />
                        <span style="width:30px;float:left;">Không</span>
                    </li>
                    <li>
                        @Html.CheckBox("chk_value_SAN", new { @style = "margin-left: 30px;" })
                    </li>
                </ul>
                @Html.HiddenFor(model => model.SAN)
                @Html.ValidationMessageFor(model => model.SAN, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="divRow">
            @Html.LabelFor(model => model.NAS, htmlAttributes: new { @class = "divLabel" })
            <div class="divControl">
                <ul style="list-style:none">
                    <li>
                        <input type="radio" id="rd_value_NAS_1" name="rd_value_NAS" style="float:left;width:30px;" disabled="disabled" />
                        <span style="float:left;width:30px;">Có</span>
                    </li>
                    <li>
                        <input type="radio" id="rd_value_NAS_0" name="rd_value_NAS" style="float:left;width:30px;" disabled="disabled" />
                        <span style="width:30px;float:left;">Không</span>
                    </li>
                    <li>
                        @Html.CheckBox("chk_value_NAS", new { @style = "margin-left: 30px;" })
                    </li>
                </ul>
                @Html.HiddenFor(model => model.NAS)
                @Html.ValidationMessageFor(model => model.NAS, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="divRow">
            @Html.LabelFor(model => model.DAS, htmlAttributes: new { @class = "divLabel" })
            <div class="divControl">
                <ul style="list-style:none">
                    <li>
                        <input type="radio" id="rd_value_DAS_1" name="rd_value_DAS" style="float:left;width:30px;" disabled="disabled" />
                        <span style="float:left;width:30px;">Có</span>
                    </li>
                    <li>
                        <input type="radio" id="rd_value_DAS_0" name="rd_value_DAS" style="float:left;width:30px;" disabled="disabled" />
                        <span style="width:30px;float:left;">Không</span>
                    </li>
                    <li>
                        @Html.CheckBox("chk_value_DAS", new { @style = "margin-left: 30px;" })
                    </li>
                </ul>
                @Html.HiddenFor(model => model.DAS)
                @Html.ValidationMessageFor(model => model.DAS, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="divRow">
            @Html.LabelFor(model => model.RAID, htmlAttributes: new { @class = "divLabel" })
            <div class="divControl">
                <ul style="list-style:none">
                    <li>
                        <input type="radio" id="rd_value_RAID_1" name="rd_value_RAID" style="float:left;width:30px;" disabled="disabled" />
                        <span style="float:left;width:30px;">Có</span>
                    </li>
                    <li>
                        <input type="radio" id="rd_value_RAID_0" name="rd_value_RAID" style="float:left;width:30px;" disabled="disabled" />
                        <span style="width:30px;float:left;">Không</span>
                    </li>
                    <li>
                        @Html.CheckBox("chk_value_RAID", new { @style = "margin-left: 30px;" })
                    </li>
                </ul>
                @Html.HiddenFor(model => model.RAID)
                @Html.ValidationMessageFor(model => model.RAID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="divRow">
            @Html.LabelFor(model => model.Khac, htmlAttributes: new { @class = "divLabel" })
            <div class="divControl">
                <ul style="list-style:none">
                    <li>
                        <input type="radio" id="rd_value_Khac_1" name="rd_value_Khac" style="float:left;width:30px;" disabled="disabled" />
                        <span style="float:left;width:30px;">Có</span>
                    </li>
                    <li>
                        <input type="radio" id="rd_value_Khac_0" name="rd_value_Khac" style="float:left;width:30px;" disabled="disabled" />
                        <span style="width:30px;float:left;">Không</span>
                    </li>
                    <li>
                        @Html.CheckBox("chk_value_Khac", new { @style = "margin-left: 30px;" })
                    </li>
                </ul>
                @Html.HiddenFor(model => model.Khac)
                @Html.ValidationMessageFor(model => model.Khac, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="divRow">
            @Html.LabelFor(model => model.TongMucDauTu, htmlAttributes: new { @class = "divLabel" })
            <div class="divControl">
                @Html.TextBoxFor(model => model.TongMucDauTu, new { @class = "S4T_NumericTextBox", @readonly = "readonly" })
                @Html.CheckBox("chk_value_TongMucDauTu")
                @*@Html.ValidationMessageFor(model => model.NangCapTrongNam, "", new { @class = "text-danger" })*@
            </div>
        </div>

        <div class="divRow">
            <label class="divLabel" id="lbl"></label>
            <div class="divControl">
                <input type="button" value="Gửi cấp trên" class="k-button k-button-icontext" onclick="SendReport()" />
                <input type="button" value="Yêu cầu nhập lại" class="k-button k-button-icontext" onclick="OpenDatePopup()" style="margin-left:5px;" />
            </div>
        </div>
        <div class="divRow" style="display:none;" id="fsLichNhapLieu">
            <fieldset>
                <legend>Đặt lịch sửa báo cáo</legend>
                <div class="divRow">
                    @Html.Label("txtTuNgay", "Từ ngày", htmlAttributes: new { @class = "divLabel" })
                    <div class="divControl">
                        @Html.Editor("txtTuNgay", "", new { @class = "form-control" })
                        @Html.ValidationMessage("txtTuNgay", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="divRow">
                    @Html.Label("txtDenNgay", "Đến ngày", htmlAttributes: new { @class = "divLabel" })
                    <div class="divControl">
                        @Html.Editor("txtDenNgay", "", new { @class = "form-control" })
                        @Html.ValidationMessage("txtDenNgay", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="divRow">
                    <label class="divLabel" id="lbl"></label>
                    <div class="divControl">
                        <input type="button" id="btnDatLich" value="Đặt lịch" class="k-button k-button-icontext" onclick="NhapLaiRequest()" />
                    </div>
                </div>
            </fieldset>
        </div>
    </div>
}

<script type="text/javascript">
    var listInputRadio = '@ViewBag.listInputRadio';

    $(document).ready(function () {
        CheckInputRadioByValue();

        SetIncorectHtml();

        function startChange() {
            var startDate = start.value(),
            endDate = end.value();

            if (startDate) {
                startDate = new Date(startDate);
                startDate.setDate(startDate.getDate());
                end.min(startDate);
            } else if (endDate) {
                start.max(new Date(endDate));
            } else {
                endDate = new Date();
                start.max(endDate);
                end.min(endDate);
            }
        }

        function endChange() {
            var endDate = end.value(),
            startDate = start.value();

            if (endDate) {
                endDate = new Date(endDate);
                endDate.setDate(endDate.getDate());
                start.max(endDate);
            } else if (startDate) {
                end.min(new Date(startDate));
            } else {
                endDate = new Date();
                start.max(endDate);
                end.min(endDate);
            }
        }

        var start = $("#txtTuNgay").kendoDatePicker({
            min: new Date()
            , value: new Date()
            , change: startChange
            , format: "dd/MM/yyyy"
        }).data("kendoDatePicker");

        var end = $("#txtDenNgay").kendoDatePicker({
            change: endChange
            , format: "dd/MM/yyyy"
        }).data("kendoDatePicker");

        start.max(end.value());
        end.min(start.value());
    });      

    // Duyệt báo cáo thành công, thay đổi trạng thái nhập liệu
    function SendReport() {
        if (!confirm("Kết thúc quá trình nhập dữ liệu của đơn vị ?")) return;
        var id = $("#HaTangKyThuatCNTT_ID").val();
        var lichNhap_ID = $("#lichNhap_ID").val();
        $.post("ConfirmReport", { "id": id, "lichNhap_ID": lichNhap_ID }).done(function (data) {
            if (data.msg == null) {
                window.location.href = "/Ht_QuanLyNhapLieu/Index";
            } else {
                alert(data.msg);
            }
        });
    }

    // Yêu cầu nhập lại báo cáo
    function NhapLaiRequest() {
        var id = $("#HaTangKyThuatCNTT_ID").val();
        var lichNhap_ID = $("#lichNhap_ID").val();
        var truongNhapLai = $("#TruongNhapLai").val();
        
        // isDate in _Layout
        if (isDate('txtTuNgay') && isDate('txtDenNgay')) {
            var tuNgay = $("#txtTuNgay").val();
            var denNgay = $("#txtDenNgay").val();

            $.post("NhapLaiRequest", {
                "id": id,
                "lichNhap_ID": lichNhap_ID,
                "truongNhapLai": truongNhapLai,
                "tuNgay": tuNgay,
                "denNgay": denNgay
            }).done(function (data) {
                if (data.msg == null) {
                    window.location.href = "/Ht_QuanLyNhapLieu/Index";
                } else {
                    alert(data.msg);
                }
            });
        }
    }

    // Đóng/ mở fiedset lịch nhập lại báo cáo
    //function OpenDatePopup() {
    //    if ($("#fsLichNhapLieu").css('display') == 'none') {
    //        $("#fsLichNhapLieu").show();
    //    } else {
    //        $("#fsLichNhapLieu").hide();
    //    }
    //}

    //// Sự kiện nhấn nút Checkbox để yêu cầu nhập lại trường dữ liệu đó
    $("input[type='checkbox']").change(function () {
        if (this.id.indexOf("chk_value_") != -1) {
            var radio_ID = $(this).attr('id');
            var base_ID = radio_ID.substring(10, radio_ID.length);
            var arrLabel = $("#txtTruongNhapLai").val();
            var arrID = $("#TruongNhapLai").val();
            var label = $('label[for="' + base_ID + '"]').html();
            var listInput = arrID.split(',');

            // Nếu không có mới insert
            if (this.checked){
                if ($.inArray(base_ID, listInput) == -1) {
                    arrID += base_ID + ",";
                    arrLabel += label + ",";

                    $("#TruongNhapLai").val(arrID);
                    $("#txtTruongNhapLai").val(arrLabel);
                }
            } else {
                arrID = arrID.replace(base_ID + ",", "");
                $("#TruongNhapLai").val(arrID);

                arrLabel = arrLabel.replace(label + ",", "");
                $("#txtTruongNhapLai").val(arrLabel);
            }
        }
    })
</script>
